################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/back-end/.vs/PeliculasAPI/v16/Server/sqlite3
/back-end/.vs/PeliculasAPI/v16/.suo
